{% extends 'auth/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block authBody %}
    <form method="post">
        <div class="d-grid flex-column gap-4">
            <div class="d-flex flex-column gap-2">
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="Email">
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Password">
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="d-flex flex-row justify-content-end mt-3">
                <button type="submit" class="btn btn-dark btn-wide">
                    Enter app
                </button>
            </div>
        </div>
    </form>
{% endblock %}
