{% extends 'auth/base.html.twig' %}

{% block title %}Currently in beta{% endblock %}

{% block authBody %}
    <p class="m-0"><span class="bold">Know Your Project</span> is in the beta, meaning you need an invitation to create an account.</p>
    <div class="d-flex flex-row justify-content-end mt-3">
        <a class="btn btn-dark btn-wide" href="mailto:know-your-project@philippmartini.de">Request invitation</a>
    </div>
{% endblock %}
