{% extends 'auth/base.html.twig' %}

{% block title %}Create account{% endblock %}

{% block authBody %}
    {{ form_start(form) }}
        <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-2">
                {{ form_widget(form.email, {
                    attr: {
                        placeholder: 'Email',
                        class: 'form-control',
                        autocomplete: 'username'
                    }
                }) }}
                {{ form_widget(form.plainPassword, {
                    attr: {
                        placeholder: 'Password',
                        class: 'form-control',
                        autocomplete: 'password'
                    }
                }) }}
            </div>

            <div class="d-flex flex-row justify-content-end mt-3">
                <button type="submit" class="btn btn-dark btn-wide">
                    Create account
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
