@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./text.scss";
@import "./ui.scss";

body {
    background-color: #F0F8FF;
}

.h-100 {
    min-height: 100vh !important;
}

.h-90 {
    min-height: 90vh !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item:hover {
    background-color: $light-green !important;
}

// this is to enable the hover effect on the dropdown items; no matter the HTML element (e.g. a span)
.dropdown-item:hover {
    cursor: pointer;
}

.btn-primary, .bg-primary {
    background-color: $green !important;
    border-color: $green !important;

    &:hover {
        color: white;
        background-color: $dark-green !important;
        border-color: $dark-green !important;
    }

    & input &:focus, &:active, &:focus-visible {
        color: black !important;
        background-color: transparent !important;
        border-color: $dark-green !important;
        border-width: 5px !important;
    }

    & button, a &:focus, &:active, &:focus-visible {
        color: black !important;
        background-color: transparent !important;
        border-color: $dark-green !important;
        border-width: 5px !important;
    }
}