$green: #46891B;
$dark-green: #2a5210;
$light-green: #9be26e;
$light-green-20: rgba(155, 226, 110, 0.2);
$dark-gray: #333333;
$dark-gray-80: rgba(51, 51, 51, 0.8);
$dark-gray-60: rgba(51, 51, 51, 0.6);
$dark-gray-30: rgba(51, 51, 51, 0.3);
$light-gray: lightgray;
$light-gray-60: rgba(211, 211, 211, 0.6);
$light-gray-30: rgba(211, 211, 211, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$light-red: #ff00009b;

.green-bold {
    color: $green !important;
    font-weight: 600 !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

.bg-white {
    background-color: white !important;
}

.dark-gray {
    color: $dark-gray !important;
}

.light-gray {
    color: $light-gray !important;
}