@import "./colors.scss";

.container-fluid {
    max-height: 100vh !important;
}

/* ==== BUTTONS ============================================================= */

.btn {
    border-radius: 2rem;

    &:disabled {
        border-width: 0px !important;
    }

    &.btn-light-gray {
        color: $light-gray !important;
        transition: color 0.3s ease-in-out;
        background-color: transparent !important;

        &:hover {
            color: $dark-gray !important;
            transition: color 0.3s ease-in-out;
        }
    }

    &.btn-dark-gray {
        color: $dark-gray;
        background-color: transparent;
        transition: color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;

        &.inactive {
            color: $dark-gray-60;
        }

        &:hover {
            color: white !important;
            background-color: $dark-gray;
            transition: color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out;
        }
    }

    // special buttons for tags.
    // typically they are a circle with a border and a background color.
    // later on the user image will be shown in the background
    &.btn-tag {
        // border-radius: 50%;
        // border-width: 2px;
        // font-size: 1.25em;
        filter: brightness(1.0);
        transition: filter 0.3s ease-in-out;

        &.btn-sm {
            // height: 1.5rem;
            // width: 1.5rem;
            padding: 0.3rem !important;
        }

        font-awesome-icon {
            transition: color 0.3s ease-in-out;
        }

        &:hover {
            // make it appear a bit darker
            filter: brightness(0.6);
            transition: filter 0.3s ease-in-out;
        }
    }

    &.btn-wide {
        min-width: 10rem;
    }
}

/* === DIVIDERS ============================================================= */

hr {
    margin: 0;
}

/* == MARK ============================================================= */

mark {
    background-color: $light-green-60;
    color: black;
}

/* === CARDS ============================================================= */

.card {
    border-radius: 15px;

    &.section-card {
        border-radius: 2rem;
        text-wrap: wrap;
        max-width: 40rem;

        &.section-card-url {
            border-style: solid;
            border-width: 0.15rem;
            border-color: $dark-gray-60;

            p {
                margin: 0; // for the text editor
            }

            .section-url-image {
                border-style: solid;
                border-width: 0.15rem;
                // border-top-width: 0.15rem;
                border-color: $light-gray-60;
                border-radius: 2rem;
            }

            .url-input-column {
                background-color: $light-gray-30;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;

                input {
                    color: $dark-gray;
                }
            }

            .url-description {
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }
        }
    }

    &.project-card, &.setup-card {
        min-height: 5rem;
        width: 20rem;
        transition: background-color 0.2s linear;

        &.active {
            background-color: $dark-gray !important;
            color: white;
            transition: background-color 0.2s linear;

            &:hover {
                background-color: $dark-gray-80 !important;
                transition: background-color 0.2s linear;
            }

            .text-muted {
                color: $light-gray !important;
            }
        }

        &:hover {
            background-color: $light-green-20 !important;
            transition: background-color 0.2s linear;
            cursor: pointer;
        }
    }

    &.setup-card {
        min-height: 12rem;
        margin-bottom: 1rem;
    }
}

.card-options {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card .card-body:hover .card-options {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* class for the input text field with no borders; this makes it easy to integrate in an UI and the user can edit it with a simple click on it */
.magic-input {
    width: 100%;
    border-style: none; 
    border-color: Transparent;
    border-radius: 10px;
    background-color: Transparent;
    overflow: auto !important;      
    cursor: pointer;

    &:focus-visible, &:focus {
        outline: none;
    }
}


/* === NAV ============================================================= */

.navigation-sidebar {
    ul.nav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-radius: 2rem;
        background-color: $light-gray-60;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
    }
}

.nav-item-options {
    display: none;
}

.nav-item {
    padding: 0 !important;
    margin: 0 !important;

    &, .nav-create-item {
        border-radius: 2rem !important;
    }

    &:hover .nav-item-options {
        display: block;
    }
}

.nav-create-item {
    color: white !important;
}

.nav-link {
    text-align: left !important;
    border-radius: 2rem !important;
    cursor: pointer;

    &.active {
        color: white !important;
        background-color: $dark-gray !important;
        border-width: 0px;
        transition: background-color 0.2s linear;

        &.nav-directory-link {
            color: black !important;
            background-color: transparent !important;
            -webkit-transition: background-color 50ms linear;
            -ms-transition: background-color 50ms linear;
            transition: background-color 50ms linear;
        }
    }

    &.inactive {
        // make whole div a bit transparent
        opacity: 0.5;
        color: black !important;
        background-color: transparent !important;
        transition: background-color 0.2s linear;
        transform: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1.0;
            background-color: $light-green-20 !important;
            transition: background-color 0.2s linear;
            transform: opacity 0.2s ease-in-out;
        }
    }

    &.active-outline {
        color: white !important;
        background-color: transparent !important;
        border-color: $dark-gray !important;
        border-width: 2px !important;
        border-style: solid !important;
    }
}

/* === POPOVERS & HOVER MENUS ============================================================= */

.v-popper--theme-dropdown {
    .v-popper__wrapper {
        /* Through this styling the background gets blurred and is transparent to a degree, that gives it a see-through effect */
        .v-popper__inner {
            border-radius: 15px !important;
            background-color: $light-gray-60 !important;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
            backdrop-filter: blur(10px) !important;

            border-width: 0.15rem;
            border-color: $dark-gray-30;
        }
    }

    .v-popper__arrow-outer {
        border-color: $dark-gray !important;
    }
}

/* === SEARCH MODAL ============================================================= */

// specific styling for the search modal; makes the background transparent and the input field a bit bigger.
// styling is also applied to the search results.
.search-modal {
    .modal-content {
        background-color: transparent !important;
    }

    & .search-box {
        background-color: $white-60 !important;
        border-radius: 5rem !important;
        background-color: white !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6) !important;

        p {
            font-size: 1.5em; // this is the equivalent of a h5 tag
            margin: 0px !important;
        }

        :focus-visible {
            outline: none;
        }
    }

    .search-result {
        cursor: pointer;

        &.search-result-content {
            background-color: transparent !important;
            transition: background-color 0.2s linear;
    
            &:hover {
                background-color: $light-green-20 !important;
                transition: background-color 0.2s linear;
            }
        }

        &.search-result-root {
            border-color: $dark-gray-60;
            border-width: 0;
            border-bottom-width: .15rem;
            border-style: solid;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
    
            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }

    .card {
        background-color: $white-60 !important;
        border-radius: 2rem !important;
        box-shadow: 0 0 10px 0 rgba(186, 183, 183, 0.1) !important;
        backdrop-filter: blur(10px) !important;
    }
}

modal-backdrop.show {
    opacity: 0.1 !important;
}

/* === THREAD BOX ============================================================= */

.thread-box {
    margin: 1rem;
    height: 80%;
    max-height: 30rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $white-60;
    border-width: 3px;
    border-color: $dark-gray-60;

    .thread-messages {
        overflow-x: hidden;
        overflow-y: scroll;
        // white-space: nowrap;
        
    }

    .card-footer {
        background-color: transparent !important;
        border-width: 0 !important;
    }
}

/* === WIKI & PAGE STYLES ============================================================= */

.wiki-col {
    max-height: 80vh;
    overflow-y:scroll;
}

.section-options {
    opacity: 0.0 !important;
    transition: opacity 0.2s ease-in-out;
}

.page-section-container:hover .section-options {
    opacity: 1.0 !important;
    transition: opacity 0.2s ease-in-out;
}

.page-creation-assistant {
    .card {
        max-width: 30rem;

        &.card-setup {
            // generated with https://mycolor.space/gradient
            background-image: linear-gradient(to bottom, #272829, #10404c, #005b59, #007549, #46891b);
    
            input, textarea { 
                color: black !important;
            }
    
            .card {
                color: black !important;
            }
    
            .card-head, .card-label, h4, label {
                color: white !important;
            }
        }
    }
}

/* === TASK STYLES ============================================================= */

.task-overview {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.task-list {
    width: 25vw;
}

.task-list-area {
    // I wish this could be dropped but somehow the scroll does not work without it but does not span across the full height
    // max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    // white-space: nowrap;
}

.task-drag-area {
    min-height: 150px;
    padding: 0;
}

.task-card {
    border-width: 0 !important;
    transition:  background-color 0.3s linear;
    min-height: 5rem;

    &:hover {
        cursor: pointer;
        background-color: $light-green-40;
        transition:  background-color 0.3s linear;
    }
}

/* === PROFILE PICTURE CONTAINER ============================================================= */

.profile-picture-container {
    width: 10rem;
    height: 10rem;
    border-radius: 20rem !important;
    border-color: $dark-gray-60;
    border-width: .15rem;
    border-style: solid;
    background-position: center;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }

    &.profile-picture-container-small {
        width: 5rem;
        height: 5rem;
    }

    &.profile-picture-container-xs {
        width: 2.5rem;
        height: 2.5rem;
    }


    &.profile-picture-container-xxs {
        width: 2rem;
        height: 2rem;
    }
}

// seems unrelated here but the main settings button already features the profile picture in the background, thus it's here.
.settings-btn {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 20rem !important;
    border-color: $dark-gray-60;
    border-width: .15rem;
    border-style: solid;
    background-position: center;
    background-size: cover;
    transition: border-color 0.3s ease-in-out;
    transition: border-width 0.3s ease-in-out;

    &.active {
        border-color: $dark-gray;
        border-width: .3rem !important;
        border-style: solid;
        transition: border-width 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
    }

    &.inactive {
        opacity: 1 !important;
    }

    &:hover {
        cursor: pointer;
        border-color: $light-green !important;
        transition: border-color 0.3s ease-in-out;
    }
}

/* === IMAGE CONTAINER WITH OVERLAY & OTHER IMAGE CLASSES ============================================================= */

.img-container {
    max-height: 40% !important;
    position: relative;
    border-radius: 2rem !important;

    & > img {
        max-height: 25rem;
        /*  keep aspect ratio */
        object-fit: contain;
        border-radius: 2rem !important;
    
        &:hover {
            cursor: pointer;
        }
    }
    
    & > .overlay {
        position: absolute;
        top: .25rem;
        left: 0;
        min-height: 10%;
        max-height: 30%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 1rem;
        opacity: 0.0;
        border-radius: 2.5rem !important;
    }

    &:hover .overlay {
        opacity: 1.0;
        transition: opacity 0.3s ease-in-out;
    }
}

.favicon-image {
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 2rem;
}

/* === CALENDAR ============================================================= */

.calendar {
    border-radius: 2rem;
    border-width: 10rem;
    border-color: $dark-gray;

    .calendar-card {
        border-radius: 0px;
        min-height: 10rem;
    }

    .weekday-card {
        border-radius: 0px;
        border-color: transparent;
        background-color: transparent;
        // background-color: $light-gray-60;
    }

    .calendar-event {
        // add border
        border-width: 1px;
        border-color: $dark-gray;
        border-radius: 2rem;
        background-color: $light-gray-60;
    }


    .current-day {
        background-color: red;
        color: white;
        font-weight: 600;
        padding: .5rem;
        border-radius: 2rem;
    }
}

.calendar-nav {
    background-color: $dark-gray !important;
    border-radius: 2rem !important;
    color: white;
    max-width: 20rem;

    p, .nav-link {
        color: white !important;
    }

    p {
        min-width: 8rem;
        text-align: center;
    }
}

/* === TOASTS ============================================================= */

/**
 * Toasts are small messages that appear on the screen for a short period of time.
 * They are used to inform the user about a specific event.
 * They should be positioned absolute to be always present, ideally not covering any important content in the bottom left corner.
 * The background color should be a light color, the text should be dark.
 * The toast should have a border radius and a shadow to make it appear as a floating element.
*/
.toast-box {
    position: absolute;
    z-index: 1100; // to be above the Bootstrap modal (e.g. task detail modal
    bottom: 1rem;
    left: 1rem;

    // limit the size of the toast box
    width: 40%;
    max-width: 20rem;

    .toast-card {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;

        &.bg-danger {
            background-color: $light-red;
            color: white;

            .btn-toast-close {
                color: white;
            }

            .text-muted {
                color: $light-gray !important;
            }
        }
    }
}