@import "./colors.scss";

/* ==== BUTTONS ============================================================= */

.btn {
    border-radius: 2rem;
}

/* === CARDS ============================================================= */

.card {
    border-radius: 15px;
    // background-color: $light-gray;
}

.card-options {
    display: none;
}

.card .card-body:hover .card-options {
    display: block;
}

/* class for the input text field with no borders; this makes it easy to integrate in an UI and the user can edit it with a simple click on it */
.magic-input {
    width: 100%;
    border-style: none; 
    border-color: Transparent;
    border-radius: 10px;
    background-color: Transparent;
    overflow: auto !important;      
    cursor: pointer;
}


/* === NAV ============================================================= */

.nav-item-options {
    display: none;
}

.nav-item {
    padding: 0 !important;
    margin: 0 !important;

    &, .nav-create-item {
        border-radius: 2rem !important;
    }

    &:hover .nav-item-options {
        display: block;
    }
}

.nav-create-item {
    color: white !important;
}

.nav-link {
    text-align: left !important;
    border-radius: 2rem !important;
    cursor: pointer;
    padding: 0.3rem 1rem !important;

    &.active {
        color: white !important;
        background-color: $dark-gray !important;
        border-width: 0px !important;
        padding: 0.3rem 1rem !important;

        &.nav-directory-link {
            color: black !important;
            background-color: transparent !important;
            -webkit-transition: background-color 50ms linear;
            -ms-transition: background-color 50ms linear;
            transition: background-color 50ms linear;
        }
    }

    &.inactive {
        // make whole div a bit transparent
        opacity: 0.5;
        color: black !important;

        background-color: transparent !important;
        -webkit-transition: background-color 50ms linear;
        -ms-transition: background-color 50ms linear;
        transition: background-color 50ms linear;

        &:hover {
            opacity: 1.0;
            -webkit-transition: opacity 300ms linear;
            -ms-transition: opacity 300ms linear;
            // color: white !important;
            background-color: $light-green-20 !important;
            -webkit-transition: background-color 100ms linear;
            -ms-transition: background-color 100ms linear;
            transition: background-color 100ms linear;
        }
    }

    &.active-outline {
        color: white !important;
        background-color: transparent !important;
        border-color: $dark-gray !important;
        border-width: 2px !important;
        border-style: solid !important;
    }
}

/* === POPOVERS & HOVER MENUS ============================================================= */

.v-popper--theme-dropdown {
    .v-popper__wrapper {
        /* Through this styling the background gets blurred and is transparent to a degree, that gives it a see-through effect */
        .v-popper__inner {
            border-radius: 15px !important;
            background-color: $light-gray-60 !important;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
            backdrop-filter: blur(10px) !important;

            border-width: 0.15rem;
            border-color: $dark-gray;
        }
    }

    .v-popper__arrow-outer {
        border-color: $dark-gray !important;
    }
}